:root{
    --dark-color:#181e1e;
    --red-color:#e60011;
    --purple-color:#a98af9;
    --pink-color:#f4826d;

}
*,
*::after,
*::before {
    box-sizing:border-box;
}
body{
    margin:0;
    font-family:"Inter",sans-serif;
}
.wrapper{
    max-width:1024px;
    margin:0 auto;
}
a{
    text-decoration: none;
}